

.nav-wrapper {
    background-color: #EDAA4E;
    font-family: 'Permanent Marker', cursive;
}

.search {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 20; 
}

.card {
   background-color: #1C8B98;
   opacity: 0.7;
   color: white;
   margin: 30px;
   
}

.btn-small {
    background-color: #E14B3B;
}

footer {
    background-color: #EDAA4E;
    padding: 20px;
    color: white;
    text-align: center;
}

