body {
  background-image: url("../images/bookshelf.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  background-color: #EDAA4E;
  color: black !important;
}

header {
  color: black;
}

.wrapper {
  margin-top: 200px;
}

.welcome {
  padding-top: 200px;
  margin-top: 0px;
}

.searchArea,
.topFive {
  background-color: white;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  border: solid #E14B3B 8px;
  color: black;
  text-align: center;
  font-size: x-large;
}

.list {
  text-align: start;
  padding-left: 20px;
  display: inline-flex;
}

.form {
  margin: 130px 10px 0px 10px;
}

.start{
  background-color: white;
  border: solid #1C8B98 8px;
  color: #1C8B98;
  text-align: center;
  font-size: 50px;
  vertical-align: text-middle;
}
